body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #4facfe, #00f2fe);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-container {
    display: flex;

    width: 900px;
    height: 400px;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Ліва панель */

.tabs {
    width: 200px;

    background: rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
}

/* Кнопки */

.tab-btn {
    padding: 25px;

    border: none;

    background: transparent;

    color: white;

    font-size: 24px;

    cursor: pointer;

    transition: 0.3s;
}

.tab-btn:hover {
    background: rgba(255,255,255,0.2);
}

.tab-btn.active {
    background: white;

    color: #333;

    font-weight: bold;
}

/* Контент */

.content {
    flex: 1;

    padding: 40px;

    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    line-height: 1.6;
}